# ==========================================
# CONFIGURACIÓN DEL SISTEMA SUNAT VALIDATOR
# ==========================================

# Django Core
SECRET_KEY=django-insecure-tu-clave-secreta-aqui
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

# Base de datos PostgreSQL (Paso 2)
DB_NAME=sunat_validator_db
DB_USER=postgres
DB_PASSWORD=tu_password
DB_HOST=localhost
DB_PORT=5432

# API SUNAT (Paso posterior)
SUNAT_RUC=
SUNAT_USUARIO_SOL=
SUNAT_CLAVE_SOL=
SUNAT_CLIENT_ID=
SUNAT_CLIENT_SECRET=
SUNAT_MODO=BETA # BETA o PRODUCCION
